/* ===== YOUR CSS GOES HERE ===== */
/* ===== START WITH GLOBAL STYLES THEN USE MEDIA QUERIES FOR LAYOUT ADJUSTMENTS ===== */
@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Bodoni+Moda:ital@0;1&family=Italiana&family=Manrope:wght@300;400;500;600&family=Philosopher&display=swap');
html {
    box-sizing: border-box;
}
  *,
  *::before,
  *::after {
    box-sizing: inherit;
}

:root {
    --main-bg-color: #F0F4EF;
    --main-dark-color: #0D1821;
    --main-grey-color: #a4a4a4;
    --secondary-grey-color: #888888;
    --main-emph-color: #CC042B;
    --main-blue-color: #043496;
    --light-text-color: #f5f5f5;
    --album-text-size: .9rem;
    --album-title-size: 1.4rem;
    --header-text-size: .9rem;
}

body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    overflow: hidden;
    background-color: var(--main-bg-color);
}


@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* TOP NAV BAR */

.page-header {
    background-color: var(--main-bg-color);
    border-bottom: 1px solid var(--main-dark-color);
    position: fixed;
    height: 4rem;
    width: 100vw;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
    padding-left: 2rem;
}

.page-header a {
    height: 50%;
}

.logo {
    height: 100%;
    width: auto;
    cursor: pointer;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
}

.nav-links li:not(:last-child) {
    padding-right: 2rem;
}

.nav-links li a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--main-dark-color);
    letter-spacing: .1rem;
    position: relative;
    font-size: var(--header-text-size);
}

.nav-links li a:hover {
    color: var(--main-emph-color);
}

.nav-links li a:after {
    content: '';
    position: absolute;
    width: calc(100% - .1rem);
    transform: scaleX(0);
    height: 1px;
    bottom: -.15rem;
    left: 0;
    background-color: var(--main-emph-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-links li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 20px;
    height: 2px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--main-dark-color);
}

ul {
    margin: 0;
}

/*
.nav-links li a.active {
    background-color: red;
}
*/

/* ================= */




/* LANDING LAYOUT */

.landing-page-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-photo {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.85)), url("../images/home2.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: 20% 0;
}

.content {
    width: 60%;
    position: absolute;
    text-align: center;
    color: var(--main-bg-color);
    font-size: 1.3rem;
    line-height: 1.6em;
    font-weight: 500;
}

.content img {
    width: 50%;
}

.content p {
    margin: 0;
    margin-top: .75rem;
    margin-bottom: 2.75rem;
}

.content a {
    color: var(--main-bg-color);
    text-decoration: none;
    border: 1px solid var(--main-bg-color);
    padding: .625rem 2em;
    text-transform: uppercase;
    font-weight: 500;
}

.content a:hover {
    background-color: var(--main-emph-color);
    transition: 0.3s ease-in;
}

/* ================= */




/* HISTORY LAYOUT */

#history-body {
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
    line-height: 2rem;
}

#banner-image {
    margin-top: 4rem;
    height: 65vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0rem;
}

#banner-image :not(.banner-text) {
    filter: grayscale(1) brightness(90%);
    transition: filter 0.5s ease;
}

#banner-image h1 {
    margin: 0;
    position: absolute;
    color: var(--main-bg-color);
    font-size: 6rem;
    font-family: 'Bodoni Moda', serif;
    text-transform: lowercase;
    letter-spacing: 0.5rem;
    pointer-events: none;
    text-align: center;

}

#banner-image a {
    font-style: italic;
    color: var(--main-bg-color);
    pointer-events: none;
}

#main-image {
    height: 100%;
    width: 100%;
    background-image: url("../images/historyphoto.jpeg");
    background-size: cover;
    background-position: 50% 65%;
}

#banner-image :hover {
    filter: grayscale(0) brightness(90%);
}

#banner-image:hover a {
    color: var(--main-emph-color);
    transition: color 0.3s ease;
}

.banner-text {
    line-height: 6rem;
}

.choose {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 65%;
    width: 100vw;
}

.choose h1 {
    font-size: 1.35rem;
    text-transform: lowercase;
    letter-spacing: .25rem;
    margin-right: -.25rem;
    font-weight: 500;
    color: var(--main-bg-color);
    animation: blink 1.75s linear infinite;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 3rem;
}

.card {
    flex: 0 1 calc(16.67% - .875rem);
    border: 1px solid var(--main-dark-color);
    height: 25rem;
    margin-bottom: 3rem;
    /*filter: grayscale(1);*/
}

.card-image {
    height: 85%;
}

.card-image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    border-bottom: 1px solid var(--main-dark-color)
}
/*
.card:hover {
    filter: grayscale(0);
    transition: filter 0.5s ease;
}
*/

.redirect {
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: .75rem;
    margin-right: .75rem;
}

.redirect a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: .85rem;
    color: var(--main-dark-color);
}

.redirect-text {
    letter-spacing: .1rem;
}

.redirect a:hover {
    color: var(--main-emph-color);
    font-weight: 600;
}


/* ================= */




/* HISTORY SECTIONS */

.history-page-container {
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    overflow-x: hidden;
    background-color: var(--main-bg-color);
}

.history-page-header {
    background-color: var(--main-bg-color);
    border-bottom: 1px solid var(--secondary-grey-color);
    position: fixed;
    height: 3rem;
    width: 100vw;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.history-nav-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: .85rem;
    color: var(--main-grey-color);
    letter-spacing: .2rem;
}

#history-home {
    color: var(--main-dark-color);
    font-size: 1rem;
    font-weight: 500;
}

#hide {
    opacity: 0;
    pointer-events: none;
}

/*
.two-link {
    font-size: 1rem;
}
*/

.history-nav-link:hover {
    color: var(--main-emph-color);
    font-weight: 500;
}

#history-home:hover {
    color: var(--main-emph-color);
}


.section-title {
    margin-top: 3rem;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--secondary-grey-color);
}

.section-title h1 {
    margin: 0;
    font-family: 'Bodoni Moda', serif;
    text-transform: uppercase;
    color: var(--main-dark-color);
    font-size: 2rem;
    letter-spacing: .3rem;
}

.section-title a {
    font-style: italic;
    color: var(--main-emph-color);
}

.section-copy {
    width: 100vw;
    line-height: 200%;
    font-size: 1.4rem;
    overflow: scroll;
    text-align: center;
    padding-left: 5rem;
    padding-right: 5rem;
}

.section-copy p {
    margin: 0;
    margin-left: 18vw;
    margin-right: 18vw;
}

.section-copy p:not(:last-child) {
    margin-bottom: 2.5rem;
}

.copy-text {
    padding-top: 2.5rem;
    width: 100%;
    border-left: 1px solid var(--secondary-grey-color);
    border-right: 1px solid var(--secondary-grey-color);
    padding-bottom: 2.5rem;

}


/* ================= */




/* DISCOGRAPHY LAYOUT */

.discography-page-container {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
}

.album {
    height: 100%;
    flex: 1;
    transition: flex 0.2s ease-in;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.album.active {
    flex: 5;
    border-left: 1px solid var(--light-text-color);
    border-right: 1px solid var(--light-text-color);
}

.album-image {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.album.active .album-image {
    filter: brightness(75%) blur(10px);
    transform: scale(1.1);
}

.album-text { /* container */
    height: 100%;
    display: flex;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    padding: .75rem;
}

.album-title {
    opacity: 0;
    color: var(--light-text-color);
    font-family: 'Arapey', serif;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin: 0;
    margin-right: -.2rem;
    font-size: var(--album-title-size);
    font-style: italic;
    margin-bottom: 2rem;
}

.album-tracklist {
    opacity: 0;
    color: var(--light-text-color);
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: var(--album-text-size);
    line-height: 1.5rem;
    margin-bottom: 2rem;
    font-weight: 300;
}

.listening-links {
    opacity: 0;
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: var(--album-text-size);
}

.listening-links a {
    color: var(--light-text-color);
    text-transform: uppercase;
    text-decoration: underline var(--light-text-color);
    text-underline-offset: .25rem;
    transition: .3s;
}

.listening-links li:not(:last-child):after {
    content:"/";
    color: var(--light-text-color);
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.listening-links a:hover {
    color: var(--main-emph-color);
    text-decoration: underline var(--main-emph-color);
    text-underline-offset: .35rem;
}

.album.active .album-title {
    opacity: 1;
    transition: opacity 0.1s ease-in;
}
.album.active .album-tracklist {
    opacity: 1;
    transition: opacity 0.1s ease-in;
}
.album.active .listening-links {
    opacity: 1;
    transition: opacity 0.1s ease-in;
}

#house-of-balloons {
    background-image: url("../images/covers/hob.jpg");
}

#thursday {
    background-image: url("../images/covers/thursday.jpg");
}
  
#echoes-of-silence {
    background-image: url("../images/covers/eos.jpg");
}

#trilogy {
    background-image: url("../images/covers/trilogy.jpg");
}

#kiss-land {
    background-image: url("../images/covers/kissland.jpg");
}

#beauty-behind-the-madness {
    background-image: url("../images/covers/bbtm.jpg");
}

#starboy {
    background-image: url("../images/covers/starboy.jpg");
}

#my-dear-melancholy {
    background-image: url("../images/covers/mdm.jpg");
}

#after-hours {
    background-image: url("../images/covers/afterhours.jpeg");
}

#dawn-fm {
    background-image: url("../images/covers/dawnfm.jpg");
}

/* ================= */

/* PROJECT FILES */

.project-page-container {
    width: 100vw;
    height: 100vh;
}

.files-rest-of {
    width: 100vw;
    height: calc(100vh - 4rem);
    top: 4rem;
    position: absolute; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.all-files {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-overview-text {
    font-family: 'Arapey', serif;
    text-transform: lowercase;
    letter-spacing: .15rem;
    margin-right: -.15rem;
    color: var(--main-dark-color);
}

.project-overview-text h1 {
    margin-top: 0;
    margin-bottom: 2rem;
}

.overview-decor {
    color: var(--main-emph-color);
}

.file-container {
    width: 100%;
    text-align: center;
    border: 1px solid var(--main-grey-color);
    color: var(--main-dark-color);
    display: flex;
    flex-direction: column;
    flex: 0 1 calc(20%);
    padding: 4rem 1rem;
}

.file-container h1 {
    font-family: 'Arapey', serif;
    font-size: 2rem;
    font-style: italic;
    margin: 0;
    color: var(--main-emph-color);
    margin-bottom: 1rem;
}

.file-container h2 {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .125rem;
    margin-right: -.125rem;
}

.file-container p {
    font-size: .9rem;
    line-height: 200%;
}

.file-container p:last-child {
    font-size: 1rem;
}

.file-link {
    letter-spacing: .075rem;
    text-transform: uppercase;
    margin-right: -.075rem;
    margin-bottom: 0;
}


.file-container a {
    text-decoration: underline var(--main-emph-color);
    text-underline-offset: .25rem;
    transition: .3s;
    color: var(--main-emph-color);
}

.file-container a:hover {
    text-underline-offset: .35rem;
}

/* QUIZ */

.quiz-page-container {
    width: 100vw;
    height: 100vh;
}

.rest-of-page {
    width: 100vw;
    height: calc(100vh - 4rem);
    top: 4rem;
    position: absolute; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.player {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

.buttons {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.playpause-track {
    width: 100%;
    display: flex;
    justify-content: center;
}

.time {
    width: 100%;
}

.current-time {
    display: flex;
    justify-content: flex-start;
}

.total-duration {
    display: flex;
    justify-content: flex-end;
}

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.time {
    position: relative;
    bottom: 0rem;
}

input[type=range].styled-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 40vw;
    margin: 0;
  }
  
  /*progress support*/
  input[type=range].styled-slider.slider-progress {
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min)) / var(--range));
    --sx: calc(0.5 * 1.2em + var(--ratio) * (100% - 1.2em));
  }
  
  input[type=range].styled-slider:focus {
    outline: none;
  }
  
  /*webkit*/
  input[type=range].styled-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.2em;
    height: 1.2em;
    border-radius: 1.2em;
    background: #0D1821;
    border: none;
    box-shadow: none;
    margin-top: calc(0.625em * 0.5 - 1.2em * 0.5);
  }
  
  input[type=range].styled-slider::-webkit-slider-runnable-track {
    height: 0.625em;
    border: none;
    border-radius: 0;
    background: #A4A4A4;
    box-shadow: none;
  }
  
  input[type=range].styled-slider.slider-progress::-webkit-slider-runnable-track {
    background: linear-gradient(#0D1821,#0D1821) 0/var(--sx) 100% no-repeat, #A4A4A4;
  }
  
  /*mozilla*/
  input[type=range].styled-slider::-moz-range-thumb {
    width: 1.2em;
    height: 1.2em;
    border-radius: 1.2em;
    background: #0D1821;
    border: none;
    box-shadow: none;
  }
  
  input[type=range].styled-slider::-moz-range-track {
    height: 0.625em;
    border: none;
    border-radius: 0;
    background: #A4A4A4;
    box-shadow: none;
  }
  
  input[type=range].styled-slider.slider-progress::-moz-range-track {
    background: linear-gradient(#0D1821,#0D1821) 0/var(--sx) 100% no-repeat, #A4A4A4;
  }
  
  /*ms*/
  input[type=range].styled-slider::-ms-fill-upper {
    background: transparent;
    border-color: transparent;
  }
  
  input[type=range].styled-slider::-ms-fill-lower {
    background: transparent;
    border-color: transparent;
  }
  
  input[type=range].styled-slider::-ms-thumb {
    width: 1.2em;
    height: 1.2em;
    border-radius: 1.2em;
    background: #0D1821;
    border: none;
    box-shadow: none;
    margin-top: 0;
    box-sizing: border-box;
  }
  
  input[type=range].styled-slider::-ms-track {
    height: 0.625em;
    border-radius: 0;
    background: #A4A4A4;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
  }
  
  input[type=range].styled-slider.slider-progress::-ms-fill-lower {
    height: 0.625em;
    border-radius: 0px 0 0 0px;
    margin: -undefined 0 -undefined -undefined;
    background: #0D1821;
    border: none;
    border-right-width: 0;
  }

  .home-box {
    width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-dark-color);
  }

  .home-box h3 {
    margin: 0;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: .2rem;
    margin-right: -.2rem;
    text-align: center;
    line-height: 140%;
  }

  .home-box h3 span {
    color: var(--main-emph-color);
  }

  .home-box p {
    line-height: 190%;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }

  .btn {
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-dark-color);
    cursor: pointer;
    padding: 0.625rem 2rem;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
  }

  .btn:hover {
    background-color: var(--main-emph-color);
    transition: 0.3s ease-in;
    color: var(--main-bg-color);
  }

  .quiz-box {
    width: 40vw;
  }

  .question-text {
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: .025rem;
    margin-bottom: 2rem;
    border-top: 1px solid var(--main-grey-color);
    padding-top: 1.75rem;
  }

  .option-container {
    margin-bottom: 2.25rem;
  }

  .option {
    border: 1px solid var(--main-grey-color);
    padding: .875rem 1rem;
    letter-spacing: .025rem;
    font-size: .95rem;
    cursor: pointer;
    box-shadow: 5px 5px #e6e3e3;

  }

  .option:not(:last-child) {
    margin-bottom: .75rem;
  }


  .option:hover {
    font-weight: 500;
    background-color: #e3e3e3;
  }

  .option.correct {
    background-color: #09711b;
    color: var(--main-bg-color);
    box-shadow: none;
  }

  .option.incorrect {
    background-color: #D21312;
    color: var(--main-bg-color);
    box-shadow: none;
  }

  .option.already-answered {
    pointer-events: none;
  }

  .next-btn {
    margin-bottom: 2rem;
  }

  .next-btn.hide {
    display: none;
  }

  .progress-indicator {
    border-top: 1px solid var(--main-grey-color);
    display: flex;
    justify-content: space-between;
  }

  .progress-indicator div {
    margin-top: 2rem;
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    display: inline-block;
    background-color: #e3e3e3;
  }

  .progress-indicator div.correct {
    background-color: #09711b;
  }

  .progress-indicator div.incorrect {
    background-color: #D21312;
  }
  

  .box.hide {
    display: none;
  }

  .result-box {
    text-align: center;
    width: 45vw;
    border: 1px solid var(--secondary-grey-color);
    padding: 2rem 4rem;
    box-shadow: 5px 5px #e6e3e3;
  }

  .result-box h1 {
    font-size: 2rem;
    margin: 0;
    margin-bottom: 1.75rem;
  }

  .result-box p {
    font-size: 1.2rem;
    margin: 0;
    line-height: 180%;
  }

  .result-box .btn:not(:last-child) {
    margin-right: 5rem;
  }

  .result-box .btn {
    margin-top: 2rem;
  }


/* MEDIA SCREENS */

@media screen and (max-width: 1024px) {

    /* LANDING PAGE */

    .content img {
        width: 70%;
    }

    .content {
        font-size: 1.2rem;
    }

    #project-body {
        overflow: scroll;
    }

    .file-container {
        flex: 0 1 calc(50%);
        padding: 4rem 2rem;
    }

    .files-rest-of {
        margin-top: 2rem;
        height: auto;
    }

    #last-container {
        flex: 0 1 calc(100%);
    }
}




/* TABLETS */

@media screen and (max-width: 850px) {


    .card-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .card {
        flex: 0 1 calc(50% - 1rem);
    }

    .redirect a {
        font-size: 1.125rem;
    }

    .section-copy p {
        margin: 0;
        margin-left: 9.5vw;
        margin-right: 9.5vw;
    }

    input[type=range].styled-slider {
        width: 65vw;
    }

    .home-box {
        width: 65vw;
    }

    .quiz-box {
        width: 65vw;
    }

    .result-box {
        width: 65vw;
    }

}

@media screen and (max-width: 768px) {
    
    /* LANDING PAGE */

    .content img {
        width: 80%;
    }

    .content {
        font-size: 1.1rem;
    }




    /* HISTORY PAGE */

    #banner-image h1 {
        padding-left: 5rem;
        padding-right: 5rem;
        font-size: 4.5rem;
        line-height: 3rem;
    }




    /* DISCOGRAPHY PAGE */

    .discography-page-container {
        flex-direction: column;
        align-items: normal;
    }
    
    .album-image {
        background-size: 100% auto;
    }

    .album-text {
        width: 100%;
        display: block;
        padding: 2.5rem;
    }

    .album.active {
        border-top: 1px solid var(--light-text-color);
        border-bottom: 1px solid var(--light-text-color);
        border-left: none;
        border-right: none;
    }
    
    .album.active .album-text {
        overflow: scroll;
    }
    



    /* HEADER -> HAMBURGER */

    .nav-links {
        margin: 0;
        padding: 0;
        display: flex;
        position: fixed;
        top: 4rem;
        left: 0;
        flex-direction: column;
        background-color: var(--main-bg-color);
        width: 100%;
        text-align: center;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        max-height: 0;
        transition: max-height .6s ease-in-out;
        overflow: hidden;
    }

    .nav-links li {
        padding: 1.25rem 0;
        border-bottom: 1px solid rgb(198, 198, 198);
    }

    .nav-links li:not(:last-child) {
        padding-right: 0;
    }

    .nav-links.active {
        left: 0;
        top: 4rem;
        padding: 0;
        max-height: 100%;
    }

    .nav-links.active li:not(:last-child) {
        padding-right: 0;
        border-bottom: 1px solid rgb(198, 198, 198);
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
    }

    
}

@media screen and (max-width: 550px) {
    #banner-image h1 {
        font-size: 3.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
        line-height: 1.5rem;
    }

}

/* PHONES */

@media screen and (max-width: 420px) {

    /* LANDING PAGE */

    .content img {
        width: 100%;
    }
    
    .content {
        font-size: 1rem;
    }




    /* HISTORY PAGE */

    #banner-image h1 {
        font-size: 3rem;
        letter-spacing: .25rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        line-height: 1.5rem;
    }

    .card-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .card {
        flex: 0 1 calc(100%);
    }

    .choose h1 {
        font-size: 1.175rem;
    }

    .section-title h1 {
        font-size: 1.3rem;
    }

    .section-copy {
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1.1rem;
    }

    .section-copy p {
        margin: 0;
        margin-left: 7vw;
        margin-right: 7vw;
    }

    input[type=range].styled-slider {
        width: 100vw;
    }

    .buttons {
        padding-left: .75rem;
        padding-right: .75rem;
    }

    .quiz-box {
        width: 100vw;
    }

    .question-text {
        padding-left: .75rem;
        padding-top: 1.5rem;
        margin-bottom: 1.5rem;
        font-size: 1rem;
    }

    .next-btn {
        margin-left: .75rem;
    }

    .result-box {
        width: 90vw;
    }

    .result-box h1 {
        font-size: 1.75rem;
    }

    .result-box p {
        font-size: 1rem;
    }

    .result-box .btn:not(:last-child) {
        margin-right: 0rem;
    }

    .result-box .btn:last-child {
        margin-top: .75rem;
    }

    .option {
        box-shadow: none;
        font-size: .9rem;
    }

    .option-container {
        margin-bottom: 1.5rem;
    }

    .next-btn {
        margin-bottom: 1.5rem;
    }

    .option:not(:last-child) {
        margin-bottom: .25rem;
    }

    .player {
        margin-bottom: 1.5rem;
    }

    .progress-indicator div {
        margin-top: 1.5rem;
        width: 1.625rem;
        height: 1.625rem;
    }

    .btn {
        font-size: 1rem;
    }

    .home-box {
        width: 90vw;
    }

    #project-body {
        overflow: scroll;
    }

    .file-container {
        flex: 0 1 calc(100%);
        padding: 3.5rem 2rem;
    }

    .files-rest-of {
        margin-top: 2rem;
        height: auto;
    }
}




@media screen and (max-width: 280px) {
    #banner-image h1 {
        font-size: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        line-height: .25rem;
    }

    .choose h1 {
        font-size: 1rem;
    }
}